* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-image: url(509461.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Centralização */
.center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    width: 100%;
}

header {
    padding: 40px 0;
    width: 100%;
    margin-top: -100px;
    
}

.logo img {
    width: 200px;
    display: block;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: rgb(188, 184, 184);
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s;
    text-shadow: 2px 2px 4px black;
}

.menu a:hover {
    color: white;
}

.texto {
    margin-top: 60px;
    text-align: center;
}

.texto h1 {
    font-size: 50px;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 20px;
}

.texto p {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
    font-style: italic;
    margin-bottom: 40px;
}

.button {
    display: flex;
    justify-content: center;
}

.button button {
    border-radius: 36px;
    background-color: #315421;
    width: 200px;
    height: 45px;
    color: #d0d0d0;
    font-size: 16px;
    border: 1px solid whitesmoke;
    cursor: pointer;
    transition: 0.3s;
}

.button button:hover {
    background-color: #3e6d2b;
}
