*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



body {
    background-image: url('Design\ sem\ nome\ \(9\).png');
    width: 100%;
    background-repeat: no-repeat;
    background-size: 1550px 750px
}

.center{
    display: flex;
    padding: 0 2%;
}

header {
    padding: 50px 0;
    text-align: right;  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 40%;
    display: block;
    position: relative;
    margin-top: -60px;
    padding-left: 80px ;
       
}


.menu a {
    text-decoration: none;
    color: rgb(188, 184, 184);
    padding-top: 50px;
    width:  50%;
    margin: 20px;
        
}

.texto {
    margin-top: 50px;
   
}

.texto h1 {
   font-size: 50px;
   color: rgba(255, 255, 255, 0.816);
   padding-left: 160px;
    
}

.texto p {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.816);
    padding-left: 160px;
    margin: 20px;
    font-weight: italic;
}

.button button{
    border-radius: 36px;
    margin: 40px;
    background-color: #315421;
    width: 200px;
    height: 40px;
    color: #d0d0d0;
    font-size: 16px;
    border: 1px solid whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-left: 250px;
    
}

