body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #315421;
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px;
}

.ladoesquerdo {
  width: 45%;
}

.logo {
  width: 250px;
  margin-bottom: 20px;
}

.info .titulo {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.label {
  font-weight: bold;
  margin-top: 30px;
  
}

.texto {
  margin: 5px 0 15px 0;
}

.ladodireito {
  width: 65%;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

input,
textarea {
  padding: 10px 20px;
  border-radius: 36px;
  border: none;
  background: #ddd;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 70%;
  font-size: 14px;
  color: #000;
}

textarea {
  height: 100px;
}

button {
  align-self: flex-start;
  padding: 10px 20px;
  border: none;
  border-radius: 36px;
  background-color: #69bc3b;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  
}

button:hover {
  background-color: #5aa733;
}

.topo {
  position: fixed; /* ou absolute, se quiser que role junto */
  top: 20px;
  left: 20px;
  z-index: 1000; /* garante que fique acima de outros elementos */
}

.topo button {
  padding: 10px 20px;
  background-color: white;
  color: #315421;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

