body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(https://img.freepik.com/fotos-gratis/plantas-verdes-frescas-crescem-na-natureza-vibrante-gerada-pela-ia_188544-151450.jpg); 
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  background-color :#046236;
  border-radius: 36px;
  overflow: hidden; /* não sair do container*/
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  width: 850px;
  height: 500px;
}
.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 20px;
  border: #1aae0f 4px solid;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin-right: 40%;
  margin-top: -500px;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}


.metadecontainer {
  flex: 1;
  padding: 30px;
  color: white;
  margin-top: 20px;
}

.metadecontainer h2 {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}

.linha {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  gap: 20px; /*Espaço entre dois campos*/
}

.inputdupla {
  width: 250px;
  display: flex;
  flex-direction: column;
}

 label {
  font-size: 14px;
  margin-bottom: 10px;
  
}

 input {
  height: 15px;
  padding: 8px 12px;
  border-radius: 36px;
  font-size: 14px;
  border: none;
  background: #e7e7e7;
 
}

.button {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-top: 20px;
}

.button button {
  width: 200px;
  height: 40px;
  border-radius: 36px;
  background-color: #fff;
  color: #046236;
  font-size: 16px;
  cursor: pointer;
  border: none;
  
}


.logo_container {
  width: 250px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_container img {
  max-width: 450px;
  height: auto;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}