body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
  }
  
  .simulador {
    max-width: 900px;
    margin: 0 auto;
    padding: 50px 20px;
    text-align: center;
  }
  
  .simulador h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .destaque {
    color: black;
  }
  
  .cor {
    color: #669c31;
  }
  
  .texto1 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .texto1 .verde {
    color: #669c31;
  }
  
  .fonte {
    font-size: 12px;
    color: #444;
    margin-bottom: 30px;
  }
  
  .texto2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  
  .texto2 span {
    color: #669c31;
  }
  
  .inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
  }
  
  .linha {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .campos{
    flex: 1;
    min-width: 280px;
    display: flex;
    flex-direction: column;
  }
  
  .campos label {
    font-size: 13px;
    margin-bottom: 8px;
    color: #333;
  }
  
  .campos input {
    padding: 12px 15px;
    border: none;
    border-radius: 30px;
    background-color: #679c318a;
    font-size: 14px;
  }
  
  .botao {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .botao button {
    padding: 12px 30px;
    background-color: #315421;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
  }

  .botao:hover button {
    background-color: #669c31;
    color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }

  .result {
    display: flex;
    justify-content: center;
    align-items: center;
  }
