* {
    margin: 15px;
    margin-top: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  body{
    background-color: #315421;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    flex-direction: column;
    overflow: hidden;


  }
  
  .structure {
    margin-top: 50px;
   
  }

  .structure h2 {
    font-size: 40px;
    padding: 0 2%;
  }

  .structure span {
    color: #90ee33;
  }

  .structure p {
    margin: 20px 0;
    font-size: 20px;
    text-align: left;
    
  }

  .imagens {
    width: 100%;
    padding: 50px 0;
    margin: 0 auto;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:30px ;
    flex-wrap: wrap;
  }

  .imagem1 {
    background-image: url('istockphoto-1463452333-612x612.jpg');
    width: 400px;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 36px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    

  }
  .imagem2 {
    background-image: url('incorporacao-novas-tecnologias.webp');
    width: 400px;
    height: 300px;
   background-size: cover;
   background-position: center;
   border-radius: 36px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

  }
  .imagem3 {
    background-image: url('agricultura-inteligente.webp');
    width: 400px;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 36px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

  }
  .topo {
    position: fixed; /* ou absolute, se quiser que role junto */
    top: 20px;
    left: 20px;
    z-index: 1000; /* garante que fique acima de outros elementos */
  }
  
  .topo button {
    padding: 10px 20px;
    background-color: white;
    color: green;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }